// Place all the styles related to the customer::customers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.page-guide{
	span{
		font-size:1.5em;
    display: inline-block;
    line-height:100%;
    padding:2px 20px;
  	background:#eee;
  	position:relative;
  	left:30px;
		}
	margin: 10px 0 20px;
}

.another-link{
	p{
		margin-left:60px;
	}
}

.customer-form{
	width:100%;
	margin:20px 0;
	table{
		width:100%;
		tr{
			td {
				text-align: center;
				input{
					width:100%;
					max-width:600px;
					height:40px;
					font-size:1em;
					border-radius:5px;
					&.address{
						max-width:100%
					}
				}
			}
			td:first-child{
				text-align:left;
				min-width:200px;
			}
			td:nth-child(2),td:nth-child(4){
				min-width: 70px;
			}
		}
	}
}
#login-form{
	td:first-child{
		width:150px;
	}
	padding-left:20px;
	input{
		max-width:800px;
	}
}
// マイページ

.customer-info{
	margin:20px 0;
	table{
		width:100%;
		tr{
			td:first-child{
				width:20%;
				background-color:#eee;
			}
		}
	}
}

//　編集ページ


// 退会確認ページ
#exit{
	font-size:0.8em;
	margin-left:80%;
}
.caution{
	text-align:center;
	padding:10px;
	margin-bottom:20px;
	.caution-text{
		margin-top:20px;
	}
}
.which-one{
	justify-content:space-evenly;
}

.p-login {
	padding-top:20px;
}