// Place all the styles related to the customer::items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/




.item-index {
  margin-bottom:40px;
  text-align:center;
  padding:8px;
}

.item-index-img {
  margin-bottom:40px;
}



.item-index:hover {
  background: transparent;
  box-shadow: 1px 1px 11px 1px rgba(0,0,0,0.5);
  color: #ff9900;
}