// Place all the styles related to the admin::items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


dl dt{
  width: 165px;
  padding:10px 0;
  float:left;
  clear:both;
}

dl dd{
  padding:10px 0;
}

.show-heading, .new-heading, .edit-heading{
  padding-left:150px;
  h3{
    height:40px;
    width:150px;
    text-align:center;
    padding-top:5px;
    border:3px solid #006060;
    background-color:#FFFFCC;
  }
}

.show-heading, {
  margin-bottom:70px;
}

.item-show-menu{
  padding-left:30px;
  padding-top:2px;
  th, td{
    padding:20px 10px;
    background-color: white;
  }
  th{
    width:160px;
    text-align:center;
  }
}


.item-show-field {
  padding-bottom:10px;
}

.item-show-img {
  .show-img {
    width:100%;
  }
}

.btn-down {
  margin-top:50px;
}
