<footer>
    <div class="texts">
        <ul class="links">
            <li><%= link_to "トップページ", root_path, style:"color:#008080;" %></li>
            <li> | </li>
            <li><%= link_to "このサイトについて", about_path, style:"color:#008080;" %></li>
        </ul>
        <div class="copyrights">
            <p>©︎ All rights reserved by One-Short-Lib</p>
        </div>
    </div>
</footer>